@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.grid__row:after {
  content: "";
  display: table;
  clear: both; }

[class^="btn--"] {
  text-align: center; }

[class^="btn--"] {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 0.94444em;
  border: 0;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  cursor: pointer; }

.button--menu, .button--arrow {
  background-color: #4D4C72;
  opacity: .75;
  transition: opacity .3s;
  cursor: pointer;
  min-height: 45px; }

.link {
  text-decoration: none;
  color: #4D4C72; }

.img--logo, .img--avatar, .img--profile {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.headline--primary {
  color: #fff;
  font-weight: 300;
  font-size: 2em; }
  @media (min-width: 769px) {
    .headline--primary {
      text-align: left;
      padding-left: 20px; } }

.headline--secondary {
  font-weight: 300;
  font-size: 1.44444em;
  margin-bottom: 15px; }

.nav-bar, .nav-bar__verticle, form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.grid__row, .social {
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .grid__row, .social {
      flex-direction: row; } }

.social__item, .members__item, .alert__item, .settings__item {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center; }

.dropdown, .members, .alert, .settings {
  display: flex;
  flex-direction: column; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*# sourceMappingURL=normalize.min.css.map */
/* Begin Custom Styles */
* {
  box-sizing: border-box; }

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676666; }

h3 {
  font-weight: 400;
  font-size: 1.0rem;
  text-transform: uppercase; }

p {
  font-size: 18px;
  font-weight: 400; }

ul {
  list-style-type: none;
  padding-left: 0; }

li {
  display: inline-block; }

button {
  border: none;
  outline: none;
  font-weight: 700;
  min-height: 50px; }

header {
  width: 100%;
  background-color: #7477BF;
  color: #fff; }
  @media (min-width: 769px) {
    header {
      padding-left: 25px;
      padding-right: 25px;
      z-index: 101;
      position: fixed;
      top: 0;
      box-shadow: 0 0 55px 0 #eeeff7 inset; } }

.title {
  display: flex;
  flex-direction: column-reverse; }
  @media (min-width: 769px) {
    .title {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 0 45px; } }
  @media (min-width: 769px) {
    .title li {
      width: 25%; } }
  .title li:last-child {
    flex-grow: 2;
    text-align: right;
    padding: 15px;
    margin-left: 45px;
    background-color: #9A8F9E; }

.search {
  background: url(../icons/search.svg) no-repeat right;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 769px) {
    .search {
      max-width: 375px; } }
  @media (min-width: 769px) {
    .search--bar {
      text-align: right;
      background-color: #676666;
      border-bottom-left-radius: 10px; } }

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px; }
  @media (min-width: 769px) {
    .container {
      margin-left: 25px;
      margin-top: 78px;
      flex-direction: row;
      flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .container {
      margin-left: 100px; } }

.grid__item {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-width: 300px;
  min-height: 50px;
  padding: 20px; }
  @media (min-width: 1px) and (max-width: 768px) {
    .grid__item:nth-child(2) {
      border-top: 1px solid #c0bfbf; } }
  @media (min-width: 769px) {
    .grid__item:nth-child(2) {
      border-left: 1px solid #c0bfbf; } }

@media (min-width: 769px) {
  .centered, .grid__row {
    margin-left: auto;
    margin-right: auto; } }

.grid__row {
  justify-content: space-between;
  width: 100%; }
  .grid__row:nth-of-type(1n+4) {
    border-top: 1px solid #c0bfbf; }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  padding: 0.44444em 0.55556em;
  margin-top: 0;
  margin-bottom: 0; }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      min-height: 1px; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 2%; } }

.img--logo {
  margin-bottom: 20px; }
.img--avatar {
  border-radius: 50%;
  height: 7rem; }
  @media (min-width: 769px) {
    .img--avatar {
      height: 3rem;
      box-shadow: 0 0 2px 3px #4D4C72;
      margin-left: 15px;
      margin-right: 15px; } }
.img--profile {
  border-radius: 50%;
  height: 3rem; }

@media (min-width: 769px) {
  .button--menu {
    display: none; } }
.button--arrow {
  display: none; }
  @media (min-width: 769px) {
    .button--arrow {
      display: block;
      width: 25px;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1200px) {
    .button--arrow {
      display: none; } }

.theme__colors.btn--default {
  background-color: #7477BF; }
.theme__colors.btn--cancel {
  background-color: #676666; }

[class^="btn--"] {
  text-transform: uppercase;
  transition: box-shadow 0.4s ease-in, background-color 0.4s ease-in; }
  @media (min-width: 769px) {
    [class^="btn--"] + [class^="btn--"] {
      margin-left: 1.66667em; } }

[class^="pill"] .selected {
  background-color: #85db80;
  color: #fff; }

[class*="--pill"] {
  color: #868585;
  border-radius: 25px; }
  @media (min-width: 769px) {
    [class*="--pill"] {
      margin-left: 0.83333em;
      margin-right: 0.83333em;
      padding-left: 1.11111em;
      padding-right: 1.11111em; } }
  [class*="--pill"]:hover {
    background-color: #85db80;
    color: #fff; }

.headline--primary strong {
  font-weight: 900; }

/* nav elements */
.nav-bar {
  z-index: 101; }
  @media (min-width: 769px) {
    .nav-bar {
      justify-content: space-between;
      flex-direction: row; } }
  .nav-bar__verticle {
    background-color: #4D4C72;
    z-index: 100; }
    @media (min-width: 769px) {
      .nav-bar__verticle {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 25px;
        flex-direction: row; } }
    @media (min-width: 1200px) {
      .nav-bar__verticle {
        width: 100px; } }

.nav__container {
  /* nav helper classes */ }
  @media (min-width: 769px) {
    .nav-bar__verticle .nav__container {
      padding-top: 100px;
      flex-direction: column;
      width: 100%; } }
  .nav__container .selected {
    border-left: 4px solid #85db80;
    border-right: 4px solid #85db80;
    opacity: 1; }
    @media (min-width: 769px) {
      .nav__container .selected {
        border-right-color: transparent; } }
.nav__item {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 95%;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  color: #fff;
  opacity: .6;
  transition: background-color 0.8s ease-in-out; }
  .nav__item:hover, .nav__item:active {
    background-color: #85db80;
    opacity: 1; }
  .nav__item a {
    padding-top: 1.5rem;
    text-decoration: none;
    color: #fff; }
.nav__icon {
  height: 30px;
  width: 30px;
  opacity: inherit; }

.button--menu:hover,
.button--arrow:hover {
  opacity: 1; }

.button--menu:active {
  background: #85db80; }

.button--arrow:active {
  background: #85db80; }

.button--form:active {
  background: #85db80; }

.button--arrow img {
  transform: rotate(180deg); }
  @media (min-width: 769px) {
    .button--arrow img {
      transform: rotate(270deg);
      width: 25px;
      height: 25px; } }

#alert {
  position: absolute;
  right: 0;
  top: 10px;
  padding-left: 20px; }
  @media (min-width: 769px) {
    #alert {
      position: inherit;
      top: auto;
      right: auto;
      padding-right: 15px;
      padding-top: 10px;
      border-right: 1px solid #4D4C72; } }
  #alert::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 7.5px;
    background-color: #85ED50;
    transform: translateY(-25px) translateX(-5px); }
    @media (min-width: 769px) {
      #alert::after {
        box-shadow: 0 0 3px 0 #4D4C72 inset; } }

[class*="__container"] {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.4s ease-in; }
  @media (min-width: 769px) {
    [class*="__container"] {
      flex-direction: row;
      justify-content: flex-start; } }

[class*="icon"] {
  cursor: pointer; }

.hidden--small {
  height: 0;
  display: none; }
  @media (min-width: 769px) {
    .hidden--small {
      height: inherit; } }
  @media (min-width: 1200px) {
    .hidden--small {
      display: flex; } }

form {
  align-content: center; }

.btn--form, .modal .btn--modal {
  margin-top: 25px;
  background-color: #7477BF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-height: 50px;
  color: #fff;
  transition: background-color 0.4s ease-in; }

.btn--form:hover, .modal .btn--modal:hover {
  background-color: #474a9a; }

.cancel {
  background-color: #868585; }

input,
textarea,
select {
  border: 1px solid #c0bfbf;
  color: #868585;
  height: 2.5rem;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px; }

input {
  margin-top: 5px; }

select {
  margin-top: 15px;
  margin-top: 25px; }

textarea {
  margin-top: 25px;
  padding-top: 10px;
  height: 10em; }

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #c0bfbf;
  font-style: italic; }

.dropdown {
  display: none;
  margin-left: 0.27778em;
  margin-right: 0.27778em;
  background-color: #eeeff7;
  cursor: pointer;
  min-width: 200px;
  width: 88%;
  position: absolute;
  top: 0;
  margin-top: 0;
  padding: 5px 15px;
  border: 1px solid #c0bfbf;
  text-align: left;
  box-shadow: 2px 2px 6px 1px #4D4C72; }
  .dropdown__item:hover {
    background: #85db80; }

.social__item {
  padding: 0.83333em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c0bfbf;
  border-radius: 5px;
  width: 75%;
  margin-bottom: 25px; }
  @media (min-width: 769px) {
    .social__item {
      width: 28%; } }
.social__icon {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7477BF;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-top: 0.27778em; }
  @media (min-width: 769px) and (max-width: 1199px) {
    .social__icon {
      height: 50px;
      width: 50px;
      margin-top: 0.83333em; } }
.social__svg {
  margin-left: auto;
  margin-right: auto;
  fill: #fff;
  width: 35px;
  height: 35px; }
  @media (min-width: 769px) and (max-width: 1199px) {
    .social__svg {
      width: 25px;
      height: 25px; } }
.social__stats {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .social__stats {
      text-align: left; } }
.social h4 {
  margin-top: 0.55556em;
  margin-bottom: 0.55556em;
  color: #7477BF; }
.social p {
  font-size: 2.22222em;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0; }
  @media (min-width: 769px) and (max-width: 1199px) {
    .social p {
      font-size: 1.66667em; } }

.members {
  font-size: .9em; }
  .members__item {
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.83333em;
    margin-left: auto;
    border-bottom: 1px solid #c0bfbf;
    border-radius: 5px;
    width: 100%;
    text-align: left; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .members__item {
        flex-direction: column;
        text-align: center; } }
    @media (min-width: 1px) and (max-width: 480px) {
      .members__item {
        flex-direction: column;
        text-align: center; } }
    #recent .members__item::after {
      font-size: 1.66667em;
      font-weight: 700;
      color: #7477BF;
      content: ">";
      display: inline-block;
      width: 30px;
      height: 30px;
      transform: translateY(5px); }
      @media (min-width: 1px) and (max-width: 480px) {
        #recent .members__item::after {
          content: "^"; } }
      @media (min-width: 769px) and (max-width: 1024px) {
        #recent .members__item::after {
          content: "^"; } }
    .members__item p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: .9em; }
  .members__stats {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column; }
    @media (min-width: 769px) {
      .members__stats {
        text-align: left; } }
    @media (min-width: 1px) and (max-width: 480px) {
      .members__stats {
        text-align: center; } }
    @media (min-width: 769px) and (max-width: 1024px) {
      .members__stats {
        text-align: center; } }

[class$="--flex2"] {
  flex-grow: 2;
  padding-left: 5px; }
  @media (min-width: 1200px) {
    [class$="--flex2"] {
      padding-left: 25px; } }

.alert {
  width: 100%; }
  .alert__item {
    width: 85%;
    margin: 5px auto;
    background-color: #7477BF;
    border-radius: 5px;
    color: #fff; }
    .alert__item p {
      margin: 10px 15px; }

.btn--alert {
  width: 45px; }
  .btn--alert:hover {
    background-color: #85db80; }
  .btn--alert:active {
    background-color: #85db80; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(77, 76, 114, 0.5);
  z-index: 200; }
  @media (min-width: 769px) {
    .overlay {
      background-color: rgba(77, 76, 114, 0.2); } }

.modal {
  position: fixed;
  top: 25vh;
  width: 100%;
  min-height: 200px;
  transform: translateY(-50px);
  background-color: white;
  text-align: center;
  border: 3px solid #868585;
  z-index: 200; }
  @media (min-width: 769px) {
    .modal {
      width: 500px;
      left: 50vw;
      transform: translateX(-200px);
      box-shadow: 0 0 50px 30px #4D4C72; } }
  .modal .btn--modal {
    width: 175px;
    background-color: #74b1bf; }

.warning {
  background: #E61E57;
  color: #fff; }

.success {
  background: #85db80;
  color: #fff; }

.toggle {
  display: block;
  padding-top: .3em;
  width: 5.0em;
  height: 2.0em;
  border-radius: 1.3em;
  border: 2px solid #868585;
  overflow: hidden;
  background-color: #7477BF; }
  @media (min-width: 769px) {
    .toggle {
      background-color: #9ea0d2;
      box-shadow: 0 2px 3px 1px #3e3d3d inset; } }
  .toggle__input {
    display: none; }
  .toggle__plate {
    color: #fff;
    margin-left: -2.1em;
    transition: margin 0.4s ease-in; }
    .toggle__plate:before {
      padding-right: 1.2em;
      content: "ON"; }
    .toggle__plate:after {
      padding-left: 1.3em;
      content: "OFF"; }
  .toggle__input:checked + .toggle .toggle__plate {
    margin-left: 1em; }
  .toggle__switch {
    display: block;
    position: relative;
    width: 1.7em;
    height: 1.7em;
    border: 1px solid #868585;
    border-radius: 50%;
    background: #fff;
    transition: margin 0.4s ease-in;
    transform: translateY(-1.4em); }
    @media (min-width: 769px) {
      .toggle__switch {
        box-shadow: -2px -2px 6px 2px #535252 inset; } }
  .toggle__input:checked + .toggle .toggle__switch {
    margin-left: 3.1em; }

.settings__item {
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.83333em;
  margin-left: auto;
  margin-bottom: 1em;
  width: 100%;
  text-align: left; }

/*# sourceMappingURL=styles.css.map */
