/* ========================================
			Form Elements
=========================================== */

form {
	@extend %nav-bar;
	align-content: center;
}

.btn--form {
	margin-top: 25px;
	background-color: $color-primary;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	min-height: 50px;
	color: #fff;
	transition: background-color $trns--duration-fast;
}

.btn--form:hover {
	background-color: setColor(primary, x-dark);
}

.cancel {
	background-color: setColor(grey, light);
}


input,
textarea,
select {
	border: $border--theme;
	color: $color-font-light;
	height: 2.5rem;
	width: 100%;
	border-radius: 5px;
	padding-left: 10px;
}

textarea {
	margin-top: 25px;
	padding-top: 10px;
	height: 10em;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	color: $color-font-lighter;
	font-style: italic;
}

.dropdown {
	display: none;
	@extend %container-flex-verticle;
	@include margin-left-right(em(5px));
	background-color: setColor(primary, x-light);
	cursor: pointer;
	min-width: 200px;
	width: 88%;
	position: absolute;
	top: 0;
	margin-top: 0;
	padding: 5px 15px;
	border: $border--theme;
	text-align: left;
	box-shadow: 2px 2px 6px 1px $color-shadow;
//	transform: translateY(-65px);
	@include e(item) {
		&:hover {
			background: $color-highlight;
		}		
	}
}



