.members {
	@extend %container-flex-verticle;
	font-size: .9em;
	@include e(item) {
		@extend %container-flex-fixed;
		flex-direction: column;
		text-align: center;	
		justify-content: space-between;
		align-content: center;
		flex-wrap: wrap;
		padding: em(15px);
		margin-left: auto;
		border-bottom: $border--theme;
		border-radius: $border--rounded-corners;
		width: 100%;
		@include mq(small) {
			flex-direction: row;
			text-align: left;
		}
		@include mq(medium) {
			flex-direction: column;
			text-align: center;
		}
		@include mq(large) {
			flex-direction: row;
			text-align: left;
		}
		

		#recent & {
			&:hover {
				background-color: $color-highlight;
				color: $color-font-white;
			}
			&::after {
				font-size: em(30px);
				font-weight: $font-weight--bold;
				color: $color-primary;
				content: "^";
				display: inline-block;
				width: 30px;
				height: 30px;
				transform: translateY(5px);	
				@include mq(small) {
					content: ">";	
				}		
				@include mq(medium) {
					content: "^";
				}	
				@include mq(large) {
					content: ">";	
				}
				&:hover {
					background-color: $color-highlight;
					color: $color-font-white;
				}
			}
		}
		
		& p {
			@include margin-top-bottom(0);
			font-size: .9em;
		}
	}
	@include e(stats) {
		@include margin-left-right(auto);
		display: flex;
		flex-direction: column;
		text-align: center;
		@include mq(small) {
			text-align: left;
		}
		@include mq(medium) {
			text-align: center;
		}
		@include mq(large) {
			text-align: left;
		}
	}
	
}

[class$="--flex2"] {
	flex-grow: 2;
	padding-left: 5px;
	@include mq(x-large) {
		padding-left: 25px;
	}
}