// ========================================
//			Social Statistics Components
// =========================================== 

.social {
	@extend %container-flex;		
	@include e(item) {
		@extend %container-flex-fixed;
		padding: em(15px);
		@include margin-left-right(auto);
		border: $border--theme;
		border-radius: $border--rounded-corners;
		width: 75%;
		margin-bottom: 25px;
		@include mq(medium) {
			width: 28%;
		}
	}
	@include e(icon) {
		@include margin-left-right(auto);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $color-primary;
		border-radius: $border--round;
		height: 70px;
		width: 70px;
		margin-top: em(5px);
		@include mq(medium) {
			height: 50px;
			width: 50px;
			margin-top: em(15px);			
		}
		@include mq(large) {
			height: 70px;
			width: 70px;
			margin-top: em(5px);			
		}
	}
	@include e(svg) {
		@include margin-left-right(auto);
		fill: $white;
		width: 35px;
		height: 35px;
		@include mq(medium) {
			width: 25px;
			height: 25px;
		}
		@include mq(large) {
			width: 35px;
			height: 35px;		
		}
	}
	@include e(stats) {
		@include margin-left-right(auto);
		display: flex;
		flex-direction: column;
		@include mq(medium) {
			text-align: left;
		}
	}
	& h4 {
		@include margin-top-bottom(em(10px));
		color: $color-primary;
	}
	& p {
		font-size: em(40px);
		font-weight: $font-weight--light;
		@include margin-top-bottom(0);
		@include mq(medium) {
			font-size: em(30px);
		}
		@include mq(large) {
			font-size: em(45px);			
		}
	}
}



