// ========================================
//			Main Title Area
// =========================================== 

.title {
	display: flex;
	flex-direction: column-reverse;
	@include mq(medium) {
		flex-direction: row;
		justify-content: space-between;
		padding: 0 0 0 45px;		
	}
	& li {
		@include mq(medium) {
			width: 25%;
		}
		&:last-child {
			flex-grow: 2;
			text-align: right;
			padding: 15px;
			margin-left: 45px;
			background-color: #9A8F9E;		
		}
	}
}

.search {	
	background: url(../icons/search.svg) no-repeat right;
	background-color: $white;
	@include margin-top-bottom(15px);
	@include mq(medium) {
		max-width: 375px;
	}
	&--bar {
		@include mq(medium) {
			text-align: right;
			background-color: setColor(grey, base);
			border-bottom-left-radius: 10px;
		}
	}
	

}


