
	.toggle {
		display: block;
		padding-top: .3em;
		width: 4.3em;
		height: 2.0em;
		border-radius: 1.3em;
		border: 2px solid setColor(grey, light);
		overflow: hidden;
		background-color: setColor(primary);
		@include mq(medium) {
			background-color: setColor(primary, light);
			box-shadow: 0 2px 3px 1px setColor(grey, x-dark) inset;			
		}
		@include e(input) {
			display: none;	
		} 
		@include e(plate) {
			color: $color-font-white;
			margin-left: -2.1em;
			transition: margin $trns--duration-fast;
			&:before {
				padding-right: 1.2em;
				content: "ON";				
			}
			&:after {
				padding-left: 1.3em;
				content: "OFF";			
			}
		}
		&__input:checked + & &__plate {
			margin-left: .3em;		
		}
		@include e(switch) {
			display: block;
			position: relative;
			width: 1.7em;
			height: 1.7em;
			border: 1px solid setColor(grey, light);
			border-radius: $border--round;	
			background: $color-font-white;
			transition: margin $trns--duration-fast;
			transform: translateY(-1.4em);	
			@include mq(medium) {
				box-shadow: -2px -2px 6px 2px setColor(grey, dark) inset;	
			}
		}		
		&__input:checked + & &__switch {
			margin-left: 2.4em;		
		}
	}
