/* ========================================
			Variables
=========================================== */

:root {
	--color-font: #676666;
	--color-border: #c4c1d9;
	--color-primary: #7477BF;
	--color-primary--dark: #4D4C72;
	--color-secondary: #78CF82;
	--color-highlight: #85db80;
	--color-compliment: #74b1bf;
	--transition: 1.2s ease-in;
	--showTransition: .4s ease-in-out;
}

